.App {
  background-color: #03a9f4;
  text-align: center;
  display: block;
  margin: 30px auto;
  max-width: 800px;
}
.App .header {
  color: white;
  background: linear-gradient(90deg, #0288d1 3%, #03a9f4 100%);
  padding: 15px;
  border-radius: 5px;
}
